<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkstack.dsm.user.mapper.DepartmentLeaderMapper">

    <resultMap type="com.jkstack.dsm.user.entity.DepartmentLeaderEntity" id="DepartmentLeaderMap">
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="departmentId" column="department_id" jdbcType="VARCHAR"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="companyId" column="company_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="OTHER"/>
        <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="OTHER"/>
        <result property="modifierId" column="modifier_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listByDepartmentId" parameterType="string" resultType="com.jkstack.dsm.user.entity.DepartmentLeaderEntity">
        SELECT * FROM dsm_department_leader WHERE department_id='${departmentId}'
    </select>


    <update id="deleteByDepartmentId" parameterType="string">
        DELETE FROM dsm_department_leader WHERE department_id='${departmentId}'
    </update>


</mapper>