<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkstack.dsm.user.mapper.DepartmentUserMapper">

    <resultMap type="com.jkstack.dsm.user.entity.DepartmentUserEntity" id="DepartmentUserMap">
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="departmentId" column="department_id" jdbcType="VARCHAR"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="companyId" column="company_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="OTHER"/>
        <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="OTHER"/>
        <result property="modifierId" column="modifier_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectUserIdsByDepartmentIds" resultType="java.lang.String">
        SELECT DISTINCT user_id FROM dsm_department_user WHERE department_id IN
        <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateSort">
        update dsm_department_user set sort=#{sort} where user_id=#{userId} and department_id=#{departmentId}
    </update>


</mapper>