<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkstack.dsm.user.mapper.WorkGroupMapper">

    <resultMap type="com.jkstack.dsm.user.entity.WorkGroupEntity" id="WorkGroupMap">
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="companyId" column="company_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="OTHER"/>
        <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="OTHER"/>
        <result property="modifierId" column="modifier_id" jdbcType="VARCHAR"/>
        <result property="workGroupId" column="work_group_id" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectListByUserId" parameterType="string" resultType="com.jkstack.dsm.user.entity.WorkGroupEntity">
        SELECT w.* FROM dsm_work_group w
            LEFT JOIN dsm_work_group_user u ON w.work_group_id=u.work_group_id
            WHERE u.user_id='${userId}'
    </select>

    <select id="selectCountUserByWorkGroupId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT COUNT(*) FROM dsm_work_group_user WHERE work_group_id=#{workGroupId}
    </select>

    <select id="getMaxSortValue" resultType="java.lang.Integer">
        SELECT MAX(sort) FROM dsm_work_group
    </select>

</mapper>